/* src/Home.css */

/* Styling the home container */
.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 248, 255, 0.8); /* Light blue color with transparency */
  position: relative; /* Needed for the z-index stacking context */
}

/* Navbar styling */
.navbar {
  position: relative;
  z-index: 10;
}

/* Background image settings */
.background-image {
  background-image: url('election.jpg'); /* Use your correct image path */
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
}

.background-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  z-index: -1;
}

.bg-name {
  font-size: 150px;
  text-align: center;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 200px auto;
  z-index: 999;
  color: #fff;
}
